body{
    font-family: Arial;
    text-align:center;
    background:#f4f6fb;
    color:#222;
}

button{
    padding:12px;
    margin:10px;
    border:none;
    border-radius:12px;
    font-size:18px;
    cursor:pointer;
}

canvas{
    background:white;
    border-radius:12px;
}
